
<!-- <div class="container">
  <div class="row"> -->
    <%= simple_form_for [experience, experience_preferences_category] do |f| %>
        <%= f.input :category, as: :check_boxes, collection: collection unless collection.empty?%>
        <%= f.button :submit, class: "btn-g smallbtn", value: "Finaliser Mes Preferences" %>
    <% end %>
  <!-- </div>
</div>
 -->
