#butler-image {
  height: 100px;
}

// .form:before {
//     content: '';
//     height:           100%;
//     left:             0;
//     position:         absolute;
//     top:              0;
//     width:            100%;
//     background-color: rgba(0,0,0,0.4);
//     z-index:          -1;
//     border-radius:    10px;
// }

#butler-container {
  background-color: rgba(0,0,0,0.4);
  height: 50vh;
  width: auto;
  border-radius: 20px;
}

.exp-text p {
  font-size: 16px;
  text-align: center;
  width: auto;
}

.ginger-img {
  text-align: center;
}

.experience-title {
  text-align: center;
}
